.news_banner {
    background-color: #EDE9E3;
    border-radius: 5px;
    font-size: 18px;
    max-width: 25%;
    padding: 10px;
    text-align: center;
    margin: 3vh 1.5vw;
    color: #2B3E50;
}

table {
    border-spacing: 0 15px;
}

td {
    border: 2px solid #2B3E50;
    border-radius: 5%;
    padding: 2px;
    cursor: pointer;
    transition-duration: .25s;
}

td:hover {
    transform: scale(1.125);
    color: #EDE9E3;
    transition-duration: .25s;
    background-color: #2B3E50;
}

