.news_banner {
    border: 2px solid rgb(54, 9, 54);
    border-radius: 5px;
    width: 30vw;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    margin: 3vh 1.5vw;
    background-color: rgb(238, 233, 227);
    color: #2C3E50;
}


table {
    border-spacing: 0 15px;
}

td {
    border: 1px solid rgb(54, 9, 54);
    border-radius: 2%;
    padding: 2px;
    cursor: pointer;
}

td:hover {
    background-color: #2C3E50;
    color: white;
}


